样式初始化 */
body,section,div {
	padding: 0;
	margin: 0;
}
body::-webkit-scrollbar { display: none; }

/* 天空草地的配色 */
body {
	background: linear-gradient(to top,rgb(148, 190, 89), rgb(255,255,255) 40%, rgb(196, 228, 253)) no-repeat center center fixed;
	background-size: cover;
}

/*白云内部结构代码*/
.clound1 {
	width: 16vh;
	height: 16vh;
	background-color: #fff;
	border-radius: 50%;
	position: relative;
}
.clound1:after {
	content: "";
	width: 12vh;
	height: 10vh;
	background: #fff;
	border-radius: 45%;
	transform: translate(-7vh, 6vh) rotate(60deg);
	position: absolute;
}
.clound1:before {
	content: "";
	width: 28vh;
	height: 11vh;
	background: #fff;
	border-radius: 45%;
	transform: translate(-9vh, 5vh) rotate(-5deg);
	position: absolute;
}

/* 白云分布 */
section {
	position: absolute;

}
section:first-of-type {
	transform: scale(.5,.5);
	right: 10%;
}
section:nth-of-type(2) {
	transform: scale(.3,.3);
	right: 30%;
	top: 15%;
}
section:nth-of-type(3) {
	transform: scale(.7,.7);
	right: 45%;
	top: 10%;
}
section:nth-of-type(4) {
	transform: scale(.5,.5);
	right: 65%;
}
section:last-of-type {
	transform: scale(.5,.5);
	right: 60%;
	top:  18%;
}  